@media(max-width: 719px){

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins',sans-serif;
    }
    
    body{
        min-height: 100vh;
        width: 100%;
        background-color: #2d2d2d;
        color: #fff;
        letter-spacing: 4px;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 30px 30px;
    }
    
    header{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.6s;
        padding: 20px 40px;
        z-index: 2;
    }
    
    header.sticky{
        padding: 10px 40px 10px;
        background-color: #76ffb4;
        color: #2d2d2d;
    }
    
    header.sticky a{
        color: #2d2d2d;
    }
    
    header .logo{
        position: relative;
        transition: 0.6s;
        display: flex;
        max-width: 120px;
    }
    
    header .logo img{
        width: 120px;
    }
    
    header .navigation{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        z-index: 3;
        background-color: #fff;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        list-style: none;
        padding-left: 0;
        visibility: hidden;
        opacity: 0;
    }

    header .navigation.active{
        visibility: visible;
        opacity: 1;
    }

    header ul li{
        position: relative;
        top: 30%;
    }
        
    header ul li p{
        position: relative;
        margin: 10px 0px 0px;
        border-radius: 5px;
        font-size: large;
        text-decoration: none;
        color: #76ffb4;
        letter-spacing: 4px;
        transition: 0.6s;
        cursor: default;
    }

    header ul li a{
        display: inline-block;
        border-radius: 5px;
        text-decoration: none;
        color: #2d2d2d;
        letter-spacing: 4px;
        font-size: large;
        margin-top: 10px;
        margin-left: 0;
    }
    
    header ul li a:hover{
        transition: 0.2s;
        color: pink;
    }
    .toggleMenu{
        position: relative;
        width: 40px;
        height: 40px;
        background: url(../img/menu.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        z-index: 4;
        cursor: pointer;
    }

    .toggleMenu.active{
        background: url(../img/close.png);
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        filter: invert(1);
    }
    
    .webbnr{
        position: relative;
        display: flex;
        min-height: 100vh;
        transition: 0.6s;
    }
    
    .webbnr img{
        max-width: 250px;
        margin-top: 50%;
        transition: 0.6s;
    }
    
    .webbnr p{
        margin: 30px;
    }
    
    .scroll{
        margin-top:80px;
        font-size: small;
        font-weight: light;
    }
    
    .scroll i{
        padding:5px;
    }
    
    h2{
        text-align: center;
        font-size: 32px;
    }

    .cupshop-web{
        flex-direction: column;
        margin: 30px 0 50px;
    }
    
    .cupshop-web .cupshop-info{
        position: relative;
        max-width: 100%;
        text-align: center;
    }
    
    .cupshop-web .cupshop-info h3{
        color: #D0E6FF;
        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
        margin: 20px 0;
    }
    
    .cupshop-web .cupshop-info p{
        color: #fff;
        text-align: left;
    }
    
    .cupshop-web .cupshop-info a{
        display: inline-block;
        text-decoration: none;
        color: #2d2d2d;
        background-color: #76ffb4;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 10px;
    }
    
    .cupshop-web .cupshop-info a:hover{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: pink;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 10px;
        transition: 0.3s;
    }
    
    .cupslider{
        position: relative;
        margin: 60px 10px 0px;
    }
    
    .cupslides img{
        max-height: 220px;
        max-width: 380px;
    }
    
    .cupslides:nth-child(2) img{
        max-height: 220px;
    }
    
    .cupslides:nth-child(3) img{
        max-height: 220px;
    }
    
    .cupslides:nth-child(4) img{
        max-height: 220px;
    }
    
    .cupslider .cupslides{
        display: none;
    }
    
    .cupslider .cupslides.active{
        display: block;
    }
    
    .cupprevNext{
        position: relative;
        user-select: none;
        margin-top: 20px;
    }
    
    .cupprevNext span{
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: solid 1px #76ffb4;
        cursor: pointer;
        font-size: 1em;
    }
    
    .cupprevNext span:hover{
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: solid 1px pink;
        cursor: pointer;
        font-size: 1em;
    }
    
    .cupprevNext span i{
        margin: 10px;
    }
    
    .cupprevNext span:nth-child(2){
        margin-top: 20px;
    }
    
    .drama-web{
        flex-direction: column;
        margin: 30px 0 50px;
    }
    
    .drama-web .drama-info{
        position: relative;
        max-width: 100%;
        text-align: center;
    }
    
    .drama-web .drama-info h3{
        color: #FFF06B;
        font-size: xx-large;
        font-weight: bolder;
        text-align: center;
        margin: 20px 0;
    }
    
    .drama-web .drama-info p{
        color: #fff;
        text-align: left;
    }
    
    .drama-web .drama-info a{
        display: inline-block;
        text-decoration: none;
        color: #2d2d2d;
        background-color: #76ffb4;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 10px;
    }
    
    .drama-web .drama-info a:hover{
        display: inline-block;
        text-decoration: none;
        color: #fff;
        background-color: pink;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 10px;
        transition: 0.3s;
    }
    
    .dramaslider{
        position: relative;
        margin: 60px 10px 0px;
    }
    
    .dramaslides img{
        max-height: 220px;
        max-width: 380px;
    }
    
    .dramaslides:nth-child(2) img{
        max-height: 220px;
    }
    
    .dramaslides:nth-child(3) img{
        max-height: 220px;
    }
    
    .dramaslides:nth-child(4) img{
        max-height: 220px;
    }
    
    .dramaslider .dramaslides{
        display: none;
    }
    
    .dramaslider .dramaslides.active{
        display: block;
    }
    
    .dramaprevNext{
        position: relative;
        user-select: none;
        margin-top: 20px;
    }
    
    .dramaprevNext span{
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: solid 1px #76ffb4;
        cursor: pointer;
        font-size: 1em;
    }
    
    .dramaprevNext span:hover{
        position: relative;
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        border: solid 1px pink;
        cursor: pointer;
        font-size: 1em;
    }
    
    .dramaprevNext span i{
        margin: 10px;
    }
    
    .dramaprevNext span:nth-child(2){
        margin-top: 20px;
    }
    
    
    
    
    footer{
        text-align: center;
        margin-top: 40px;
    }
    
    footer a{
        text-decoration: none;
        font-size: 16px;
        color: #fff;
    }
    
    footer a:hover{
        text-decoration: none;
        font-size: 16px;
        color: pink;
    }
    
    }

@media(min-width: 720px) and (max-width:1023px){

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins',sans-serif;
        }
        
        body{
            min-height: 100vh;
            width: 100%;
            background-color: #2d2d2d;
            color: #fff;
            letter-spacing: 4px;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding: 30px 30px;
        }
        
        header{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0.6s;
            padding: 20px 40px;
            z-index: 2;
        }
        
        header.sticky{
            padding: 10px 40px 10px;
            background-color: #76ffb4;
            color: #2d2d2d;
        }
        
        header.sticky a{
            color: #2d2d2d;
        }
        
        header .logo{
            position: relative;
            transition: 0.6s;
            display: flex;
            max-width: 120px;
        }
        
        header .logo img{
            width: 120px;
        }
        
        header .navigation{
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80%;
            z-index: 3;
            background-color: #fff;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            transition: 0.2s;
            list-style: none;
            padding-left: 0;
            visibility: hidden;
            opacity: 0;
        }
    
        header .navigation.active{
            visibility: visible;
            opacity: 1;
        }
    
        header ul li{
            position: relative;
            top: 30%;
        }
            
        header ul li p{
            position: relative;
            margin: 10px 0px 0px;
            border-radius: 5px;
            font-size: large;
            text-decoration: none;
            color: #76ffb4;
            letter-spacing: 4px;
            transition: 0.6s;
            cursor: default;
        }
    
        header ul li a{
            display: inline-block;
            border-radius: 5px;
            text-decoration: none;
            color: #2d2d2d;
            letter-spacing: 4px;
            font-size: large;
            margin-top: 10px;
            margin-left: 0;
        }
        
        header ul li a:hover{
            transition: 0.2s;
            color: pink;
        }
        .toggleMenu{
            position: relative;
            width: 40px;
            height: 40px;
            background: url(../img/menu.png);
            background-position: center;
            background-size: 30px;
            background-repeat: no-repeat;
            z-index: 4;
            cursor: pointer;
        }
    
        .toggleMenu.active{
            background: url(../img/close.png);
            background-position: center;
            background-size: 30px;
            background-repeat: no-repeat;
            filter: invert(1);
        }
        
        .webbnr{
            position: relative;
            display: flex;
            min-height: 100vh;
            transition: 0.6s;
        }
        
        .webbnr img{
            max-width: 250px;
            margin-top: 50%;
            transition: 0.6s;
        }
        
        .webbnr p{
            margin: 30px;
        }
        
        .scroll{
            margin-top:80px;
            font-size: small;
            font-weight: light;
        }
        
        .scroll i{
            padding:5px;
        }
        
        h2{
            text-align: center;
            font-size: 32px;
        }
    
        .cupshop-web{
            flex-direction: column;
            margin: 60px 0 50px;
        }
        
        .cupshop-web .cupshop-info{
            position: relative;
            max-width: 100%;
            text-align: center;
            margin: 0px 20px;
        }
        
        .cupshop-web .cupshop-info h3{
            color: #D0E6FF;
            font-size: xx-large;
            font-weight: bolder;
            text-align: center;
            margin: 20px 0;
        }
        
        .cupshop-web .cupshop-info p{
            color: #fff;
            text-align: left;
        }
        
        .cupshop-web .cupshop-info a{
            display: inline-block;
            text-decoration: none;
            color: #2d2d2d;
            background-color: #76ffb4;
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 10px;
        }
        
        .cupshop-web .cupshop-info a:hover{
            display: inline-block;
            text-decoration: none;
            color: #fff;
            background-color: pink;
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 10px;
            transition: 0.3s;
        }
        
        .cupslider{
            position: relative;
            margin: 60px 10px 0px;
        }
        
        .cupslides img{
            max-height: 305px;
            max-width: 380px;
        }
        
        .cupslides:nth-child(2) img{
            max-height: 305px;
        }
        
        .cupslides:nth-child(3) img{
            max-height: 305px;
        }
        
        .cupslides:nth-child(4) img{
            max-height: 305px;
        }
        
        .cupslider .cupslides{
            display: none;
        }
        
        .cupslider .cupslides.active{
            display: block;
        }
        
        .cupprevNext{
            position: relative;
            user-select: none;
            margin-top: 20px;
        }
        
        .cupprevNext span{
            position: relative;
            display: inline-block;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: solid 1px #76ffb4;
            cursor: pointer;
            font-size: 1em;
        }
        
        .cupprevNext span:hover{
            position: relative;
            display: inline-block;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: solid 1px pink;
            cursor: pointer;
            font-size: 1em;
        }
        
        .cupprevNext span i{
            margin: 10px;
        }
        
        .cupprevNext span:nth-child(2){
            margin-top: 20px;
        }
        
        .drama-web{
            flex-direction: column;
            margin: 30px 0 50px;
        }
        
        .drama-web .drama-info{
            position: relative;
            max-width: 100%;
            text-align: center;
            margin: 0px 20px;
        }
        
        .drama-web .drama-info h3{
            color: #FFF06B;
            font-size: xx-large;
            font-weight: bolder;
            text-align: center;
            margin: 20px 0;
        }
        
        .drama-web .drama-info p{
            color: #fff;
            text-align: left;
        }
        
        .drama-web .drama-info a{
            display: inline-block;
            text-decoration: none;
            color: #2d2d2d;
            background-color: #76ffb4;
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 10px;
        }
        
        .drama-web .drama-info a:hover{
            display: inline-block;
            text-decoration: none;
            color: #fff;
            background-color: pink;
            padding: 10px 20px;
            margin-top: 20px;
            border-radius: 10px;
            transition: 0.3s;
        }
        
        .dramaslider{
            position: relative;
            margin: 60px 10px 0px;
        }
        
        .dramaslides img{
            max-height: 305px;
            max-width: 380px;
        }
        
        .dramaslides:nth-child(2) img{
            max-height: 305px;
        }
        
        .dramaslides:nth-child(3) img{
            max-height: 305px;
        }
        
        .dramaslides:nth-child(4) img{
            max-height: 305px;
        }
        
        .dramaslider .dramaslides{
            display: none;
        }
        
        .dramaslider .dramaslides.active{
            display: block;
        }
        
        .dramaprevNext{
            position: relative;
            user-select: none;
            margin-top: 20px;
        }
        
        .dramaprevNext span{
            position: relative;
            display: inline-block;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: solid 1px #76ffb4;
            cursor: pointer;
            font-size: 1em;
        }
        
        .dramaprevNext span:hover{
            position: relative;
            display: inline-block;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            border: solid 1px pink;
            cursor: pointer;
            font-size: 1em;
        }
        
        .dramaprevNext span i{
            margin: 10px;
        }
        
        .dramaprevNext span:nth-child(2){
            margin-top: 20px;
        }
        
        
        
        
        footer{
            text-align: center;
            margin-top: 40px;
        }
        
        footer a{
            text-decoration: none;
            font-size: 16px;
            color: #fff;
        }
        
        footer a:hover{
            text-decoration: none;
            font-size: 16px;
            color: pink;
        }
        
        }


@media(min-width: 1024px){

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    min-height: 200vh;
    background-color: #2d2d2d;
    color: #fff;
    letter-spacing: 4px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 50px 100px;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}

header.sticky{
    padding: 5px 80px;
    background-color: #76ffb4;
    color: #2d2d2d;
}

header.sticky a{
    color: #2d2d2d;
}

header.sticky p{
    color: pink;
}

header .logo{
    position: relative;
    transition: 0.6s;
    display: flex;
}

header .logo img{
    width: 120px;
}

header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

header ul li{
    position: relative;
    list-style: none;
    justify-content: center;
    align-items: center;
    display: flex;
}

header ul li a{
    position: relative;
    margin: 10px;
    padding:10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 4px;
    transition: 0.6s;
    font-size: medium;
}

header ul li a:hover{
    transition: 0.3s;
    color: #fff;
    background-color: pink;
    border-radius: 10px;
}

header ul li p{
    position: relative;
    margin: 10px;
    padding:10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #76ffb4;
    letter-spacing: 4px;
    transition: 0.6s;
    cursor: default;
}

.webbnr{
    position: relative;
    display: flex;
    height: 100vh;
    transition: 0.6s;
}

.webbnr img{
    width: 300px;
    margin-top: 150px;
    transition: 0.6s;
}

.webbnr p{
    margin: 30px;
}

.scroll{
    margin-top:80px;
    font-size: small;
    font-weight: light;
}

.scroll i{
    padding:10px;
}

h2{
    text-align: center;
    font-size: 32px;
    margin: 50px 0px;
}

.cupshop-web{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cupshop-web .cupshop-info{
    position: relative;
    max-width: 600px;
    text-align: left;
    margin: 50px 20px 0px;
}

.cupshop-web .cupshop-info h3{
    color: #D0E6FF;
    font-size: xx-large;
    font-weight: bolder;
    text-align: left;
    margin: 20px 0;
}

.cupshop-web .cupshop-info p{
    color: #fff;
    text-align: left;
    margin: 20px 0px;
}

.cupshop-web .cupshop-info a{
    display: inline-block;
    text-decoration: none;
    color: #2d2d2d;
    background-color: #76ffb4;
    padding: 10px 20px;
    margin-top: 80px;
    border-radius: 10px;
}

.cupshop-web .cupshop-info a:hover{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: pink;
    padding: 10px 20px;
    margin-top: 80px;
    border-radius: 10px;
    transition: 0.3s;
}

.cupslider{
    position: relative;
    margin: 50px 20px 0px;
}

.cupslides img{
    width: 100%;
    max-width: 380px;

}

.cupslides:nth-child(2) img{
    max-width: 400px;
}

.cupslides:nth-child(3) img{
    max-width: 230px;
}

.cupslides:nth-child(4) img{
    max-width: 170px;
}

.cupslider .cupslides{
    display: none;
}

.cupslider .cupslides.active{
    display: block;
}

.cupprevNext{
    position: relative;
    user-select: none;
    margin-top: 300px;
}

.cupprevNext span{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px #76ffb4;
    cursor: pointer;
    font-size: 1em;
}

.cupprevNext span:hover{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px pink;
    cursor: pointer;
    font-size: 1em;
}

.cupprevNext span i{
    margin: 10px;
}

.cupprevNext span:nth-child(2){
    margin-top: 20px;
}

.drama-web{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.drama-web .drama-info{
    position: relative;
    max-width: 600px;
    text-align: left;
    margin: 50px 20px 0px;
}

.drama-web .drama-info h3{
    color: #FFF06B;
    font-size: xx-large;
    font-weight: bolder;
    text-align: left;
    margin: 20px 0;
}

.drama-web .drama-info p{
    color: #fff;
    text-align: left;
    margin: 20px 0px;
}

.drama-web .drama-info a{
    display: inline-block;
    text-decoration: none;
    color: #2d2d2d;
    background-color: #76ffb4;
    padding: 10px 20px;
    margin-top: 80px;
    border-radius: 10px;
}

.drama-web .drama-info a:hover{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: pink;
    padding: 10px 20px;
    margin-top: 80px;
    border-radius: 10px;
    transition: 0.3s;
}

.dramaslider{
    position: relative;
    margin: 50px 20px 0px;
}

.dramaslides img{
    width: 100%;
    max-width: 380px;
}

.dramaslides:nth-child(2) img{
    max-width: 400px;
}

.dramaslides:nth-child(3) img{
    max-width: 230px;
}

.dramaslides:nth-child(4) img{
    max-width: 170px;
}

.dramaslider .dramaslides{
    display: none;
}

.dramaslider .dramaslides.active{
    display: block;
}

.dramaprevNext{
    position: relative;
    user-select: none;
    margin-top: 300px;
}

.dramaprevNext span{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px #76ffb4;
    cursor: pointer;
    font-size: 1em;
}

.dramaprevNext span:hover{
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: solid 1px pink;
    cursor: pointer;
    font-size: 1em;
}

.dramaprevNext span i{
    margin: 10px;
}

.dramaprevNext span:nth-child(2){
    margin-top: 20px;
}


footer{
    text-align: center;
    margin-top: 80px;
}

footer a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
}

footer a:hover{
    text-decoration: none;
    font-size: 16px;
    color: pink;
}

}